<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sagisag"
        tools:targetApi="31">
        <activity
            android:name=".about"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="About Us: Group 3"/>
        <activity
            android:name=".Carinosa"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Hidden Gems"/>
        <activity
            android:name=".Perlas"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Hidden Gems"/>
        <activity
            android:name=".Kalesa"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Hidden Gems"/>
        <activity
            android:name=".Bakya"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Hidden Gems"/>
        <activity
            android:name=".BahayKubo"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Hidden Gems" />
        <activity
            android:name=".Anahaw"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Hidden Gems"/>
        <activity
            android:name=".Agilla"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Hidden Gems"/>
        <activity
            android:name=".Mangga"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Hidden Gems"/>
        <activity
            android:name=".Carabao"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Hidden Gems"/>
        <activity
            android:name=".LechonBaboy"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Hidden Gems"/>
        <activity
            android:name=".Narra"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Hidden Gems"/>
        <activity
            android:name=".Sampaguita"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:label="Hidden Gems"/>
        <activity
            android:name=".Loading"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Hidden Gems"/>
    </application>

</manifest>